/*!
 * BrandTrack
 * @version: 0.1
 * @company: iMusica
 */
* {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
html {
  position: relative;
  min-height: 100%;
  padding: 0px 0px 0px 0px;
}
body {
  font-family: "OpenSans";
  font-weight: 400;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  background-color: #fbfbfb;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  cursor: pointer;
  color: #CC2200;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #991a00;
  text-decoration: #991a00;
}
/*h1 { .font-size-responsive(@font-size-h1) }
h2 { .font-size-responsive(@font-size-h2) }
h3 { .font-size-responsive(@font-size-h3) }
h4 { .font-size-responsive(@font-size-h4) }
h5 { .font-size-responsive(@font-size-h5) }
h6 { .font-size-responsive(@font-size-h6) }
*/
p {
  color: #666666;
  font-weight: 400;
}
small,
.small {
  font-size: 75%;
}
a,
.link {
  color: #CC2200;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  text-decoration: underline;
  cursor: pointer;
}
a:hover,
.link:hover {
  color: #991a00;
}
p.error {
  font-size: 16px;
  text-align: center;
}
.error {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 18px;
  font-weight: 500;
  color: #f0444c;
}
.error.active {
  visibility: visible;
  opacity: 1;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-normal {
  font-style: normal;
}
.text-italic {
  font-style: italic;
}
.text-oblique {
  font-style: oblique;
}
.text-size-large {
  font-size: 20px;
}
.text-size-medium {
  font-size: 14px;
}
.text-size-regular {
  font-size: 12px;
}
.text-size-small {
  font-size: 10px;
}
.text-light {
  font-weight: 300;
}
.text-regular {
  font-weight: 400;
}
.text-medium {
  font-weight: 600;
}
.text-bold {
  font-weight: 700;
}
.text-extrabold {
  font-weight: 900;
}
.text-underline {
  text-decoration: underline;
}
.justify-center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
ul,
ol {
  text-decoration: none;
}
.btn {
  font-weight: normal;
  border: 0px solid transparent;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #ffffff;
  background: #ec151f;
}
.btn-default:hover {
  background: #bf0f18;
}
form {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  form {
    width: 500px;
  }
}
input {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  width: 90%;
  height: 50px;
  font-size: 20px;
  color: #666666;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 0px 10px;
  border: 2px solid #cacaca;
}
input::placeholder {
  color: #dadada;
}
input:-webkit-autofill {
  border: 2px solid #cacaca;
  -webkit-box-shadow: inset 0 0 0px 9999px white;
  box-shadow: inset 0 0 0px 9999px white;
}
input:-webkit-autofill:focus {
  border-color: #cacaca;
  -webkit-box-shadow: inset 0 0 0px 9999px white;
  box-shadow: inset 0 0 0px 9999px white;
}
input:focus {
  outline: none;
}
@media (min-width: 992px) {
  input {
    width: 300px;
  }
}
button {
  min-width: 150px;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  width: auto;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans/OpenSans-Light.eot');
  src: url('assets/fonts/OpenSans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('assets/fonts/OpenSans/OpenSans-Light.woff2') format('woff2'), url('assets/fonts/OpenSans/OpenSans-Light.woff') format('font-woff'), url('assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype'), url('assets/fonts/OpenSans/OpenSans-Light.svg#OpenSans-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans/OpenSans-Regular.eot');
  src: url('assets/fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'), url('assets/fonts/OpenSans/OpenSans-Regular.woff') format('font-woff'), url('assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'), url('assets/fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans/OpenSans-Semibold.eot');
  src: url('assets/fonts/OpenSans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/OpenSans/OpenSans-Semibold.woff2') format('woff2'), url('assets/fonts/OpenSans/OpenSans-Semibold.woff') format('font-woff'), url('assets/fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype'), url('assets/fonts/OpenSans/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans/OpenSans-Bold.eot');
  src: url('assets/fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'), url('assets/fonts/OpenSans/OpenSans-Bold.woff') format('font-woff'), url('assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'), url('assets/fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('assets/fonts/OpenSans/OpenSans-ExtraBold.eot');
  src: url('assets/fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('assets/fonts/OpenSans/OpenSans-ExtraBold.woff2') format('woff2'), url('assets/fonts/OpenSans/OpenSans-ExtraBold.woff') format('font-woff'), url('assets/fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype'), url('assets/fonts/OpenSans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
  font-weight: 900;
  font-style: normal;
}
#nota {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 200px;
  font-size: 18px;
  text-align: center;
  margin: 20px auto;
  color: #ff6c00;
  font-weight: bold;
}
.braco {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 150px;
  margin: 0px auto;
  padding-top: 0px;
  background: #e0e0e0;
}
@media (min-width: 992px) {
}
.braco .casa {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  height: 30px;
  border-top: 2px solid #000;
  padding: 0px 0px 0px 0px;
  position: relative;
}
.braco .casa:nth-child(6)::before,
.braco .casa:nth-child(8)::before,
.braco .casa:nth-child(10)::before,
.braco .casa:nth-child(13)::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bdbdbd;
  left: 69px;
  margin-top: 10px;
}
.braco .casa.inicial {
  height: 10px;
  border-bottom: 5px solid #000;
}
.braco .casa.inicial .bullet {
  display: none;
}
.braco .corda {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
  position: relative;
}
.braco .corda::before {
  content: "";
  width: 2px;
  height: 100%;
  background: #bdbdbd;
}
.braco .corda.active::before {
  background: #ff6c00;
}
.braco .corda .bullet {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 7px;
  left: 4px;
  position: absolute;
  background: #ff6c00;
}
#he-subscribe .msisdn {
  font-size: 20px;
  text-align: center;
  margin: 15px 0px;
  font-weight: 600;
}
#validate-code button {
  margin-top: 20px;
}
#validate-code .resend-sms {
  font-size: 14px;
}
